doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/dijit/themes/claro/claro.css')
    script(src='/dojo/dojo.js', data-dojo-config='asycn:true')
  body.claro
    block content